.mainLogo{
    width: 75%;
    height: 810px;
    background-image: url(../Images/chef.jpg);
	background-size:cover;
    filter: saturate(1.2) ;
    background-position: center center;
}
.mainSpeech{
    display: flex;
    justify-content: flex-end;
    height: 70%;
    align-items: center;
    margin-right: 25%;
  
}
.Main{
    display: flex;
}
.offersContainer{
    width: 25%;
   
   
    /* background-color: #CC923B; */
    background-color: #EFC88B;
   
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
}
.offer1{
    background-image: url(../Images/greeksalad.jpg);
    background-position: center center;
    background-size:cover;
    background-color: #CC923B;
    display: flex;
    justify-content: center;
    width: 85%;
    height: 25%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 1000;   
}
.offer2{
    background-image: url(../Images/sandwich.jpg);
    background-position: center center;
    background-size:cover;
    background-color: #CC923B;
    display: flex;
    justify-content: center;
    width: 85%;
    height: 25%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 1000;   
}
.offer3{
    background-image: url(../Images/pollo.jpg);
    background-position: center center;
    background-size:cover;
    background-color: #CC923B;
    display: flex;
    justify-content: center;
    width: 85%;
    height: 25%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 1000;  
}

.mainSpeech_div{
    background-color: #D3D5D7;
    color: #321325;
    font-weight: 500;
    border-radius: 30%;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    opacity: .85;
    user-select: none;
}
.parrafo{
    font-weight: 700;
    font-size: .8em;
    color: #CF5C36;
    display: flex;
    align-items: center;
    height: 100px;
    background-color: rgba(14, 13, 13, 0.676);
    opacity: 0;
    text-align: center;
}
.offer1__h2{
    font-size: 1em;
    background-color: red;
}
.parrafo:hover {
    opacity: 1;
    transition: .4s;
}
.parrafo1{
    text-align: center;
    font-size: 1.2em;
    color: #321325;
    margin-bottom: -45px ;
    margin-top: -30px;
}

                    