.links{
display: none;
}
.burguerMenu{
    display: none;
}

@media (max-width: 850px){
    .links{
        display: flex;
        }
        .burguerMenu{
            display: flex;
      
        }
        .menuImg{
            width: 30px;
            height: 30px;
        }
        .links{
            text-decoration: none;
            color: #000;
            border: 2px solid rgba(0, 0, 0, .1);
            margin-bottom: 0px;
            
            font-size: 20px;
            font-family: sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;

        }
        .links:hover{
            transition: .2s;
            background-color: #e4bf1a ;
        }
        .container_links{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-items: center;
            position: absolute;
            right: 0;
            right: calc(-7px);
            margin: 7px;
            height: 38%;
            width: 100% ;
            background-color: #F6AD3A;
            top: calc(60px);
            z-index: 200;

            animation-name: transicion;
            animation-timing-function: cubic-bezier(.15,1,.91,.99);
            animation-duration: .5s;
        }
        .burguerMenu{
            display: flex;
            margin-right: 20px;
            background-color: transparent;
            border: none;
            cursor: pointer;
  
        }
            @keyframes transicion {
                0% {
                    height: 0%;
                    margin: 0px;
                }
   
                100% {
                    height: 38%;
                    margin: 7px;
                }
            }
    }
@media (max-width: 470px){
    .container_links{
        height: 45%;
        animation-name: transicion;
        animation-timing-function: cubic-bezier(.15,1,.91,.99);
        animation-duration: .5s;
    }
    @keyframes transicion {
        0% {
            height: 0%;
            margin: 0px;
        }

        100% {
            height: 45%;
            margin: 7px;
        }
    }
}

