.navContainer{
    /* display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    height: 60px ;
    align-items: center;
    text-align: center;
    
    width: 100%;
    
     */
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FDD000;
    
}
.Name{
    /* grid-column: 1/2;
    justify-self: center; */
    
    
    margin-right: 10px;
    font-size: 1.6em;
    font-weight: 500;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}
.linksContainer{
    /* grid-column: 2/3;
    width: max-content;
    justify-self: end;
    max-width: max-content; */
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    
    
        
}
.links{
   
    text-decoration: none;
    color: #000;
    margin-right: 60px;
    width: max-content;
    font-size: 1.1em;
    font-weight: 500;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    min-width: min-content;
}