.links{
   
    text-decoration: none;
    color: #000;
    margin-right: 60px;
    width: max-content;
    font-size: 1.1em;
    font-weight: 500;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    min-width: min-content;
} 
.headerContainer{
    display: flex;
    justify-content: space-evenly;
    height: 70px;
    background-color: #FDD000 ;
    align-items: center;
    font-family: sans-serif;
}
.links{
    text-decoration: none;
    color: #000;
    margin-right: 60px;
    width: max-content;
    font-size: 1.1em;
    font-weight: 500;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    min-width: min-content;
}
.Name{
    margin-right: 10px;
    font-size: 1.6em;
    font-weight: 500;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    color: #000;
    font-family: sans-serif;
}
.burguerMenu{
    display: none;
}

@media (max-width: 850px) {
    .links{
        display: none;
    }


    .burguerMenu{
        display: flex;
        margin-right: 20px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }


    .headerContainer{
        display: flex;
        justify-content: space-between;
    }             
    .Name{
        margin-right: 10px;
        margin-left: 80px;
    }

}
@media (max-width: 420px){
    .headerContainer{
    display: flex;
    justify-content: space-between;
    }    
    .burguerMenu{
        display: flex;
        width: 100%;
        
        justify-content: center;
    }
    .links{
        display: none;
    } 
    .headerContainer{
        width: 100%;
        display: flex;
    }
    .Name{
        font-size: 1.6em;
        position: relative;
        right: calc(15%);
        width: 100%;
        font-weight: 500;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        text-decoration: none;
        color: #000;
        font-family: sans-serif;
    }
}
@media (max-width: 560px){
        .headerContainer{
    display: flex;
    justify-content: space-between;
    }    
    .burguerMenu{
        display: flex;
        width: 100%;
        
        justify-content: center;
    }
    .links{
        display: none;
    } 
    .headerContainer{
        width: 100%;
        display: flex;

        
    }
    .linksContainer{

    }
    .Name{
        font-size: 1.6em;
        position: relative;
        right: calc(10%);
        width: 100%;
        font-weight: 500;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        text-decoration: none;
        color: #000;
        font-family: sans-serif;
    }
}

@media (max-width: 335px){
    .headerContainer{
    display: flex;
    justify-content: space-between;
    }    
    .burguerMenu{
        display: flex;
        width: 100%;
        
      

        justify-content: center;
    }
    .links{
        display: none;
    } 
    .headerContainer{
        width: 100%;
        display: flex;

        
    }
    .Name{
        font-size: 1.6em;
        position: relative;
        right: calc(20%);
        width: 100%;
        font-weight: 500;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        text-decoration: none;
        color: #000;
        font-family: sans-serif;
    }
}