p {
    color: red;
    font-size: .8em;
    margin-top: -2px;
}
.Reserve{
    display: flex;
    justify-content: center;
    background-color: #EFC88B;
    flex-direction: row;
    width: 100%;
}
.input{
    margin: 15px;
    width: max-content;
    justify-content: center;

}
.label{
    font-weight: 500;
    margin-right: 50px;
}
.submit{
    padding: 8px;
    margin-left: 60%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 7px;
    margin-top: 17px;
    border-radius: 10%;
    background-color: #CF5C36 ;
    color: #dff;
    border-color: #333;
    font-weight: 700;
}
.submit:hover {
    background-color: #CC923B;
    transition: .2s;
}
.formContainer{
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 20px;
    width: 25em;
}
.form__h2{
    margin-bottom: 80px;
    text-align: center;
}
