body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  background: url("./Images/Vector1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 869px ;
  scroll-behavior: smooth;

  
}
@media (max-width: 850px) {
  body{
    height: 600px ;
    overflow-x: hidden;
  }


}

.MuiPickersToolbar-toolbar {
  background-color: #F6AD3A !important;
}
.MuiPickersDay-daySelected {
  color: #fff;
  font-weight: 500;
  background-color: #F6AD3A !important;
}

.MuiButton-textPrimary {
  color: #000 !important;
}

.MuiPickersClockPointer-pointer {
  background-color: #F6AD3A !important;

}
.MuiPickersClock-pin {
  background-color: #F6AD3A !important;
}
.MuiPickersClockPointer-thumb {
  background-color: #F6AD3A !important;
  border: 14px solid #F6AD3A !important;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: none;

  
}

